<div>
  <nb-card>
    <nb-card-header>Create test</nb-card-header>
    <nb-card-body>
      <label for="name">Name</label>
      <input type="text" nbInput fullWidth placeholder="Enter test name">
      <label for="description">Description</label>
      <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Enter test description"></textarea>
      <label for="time">Time</label>
      <input type="number" nbInput fullWidth placeholder="Enter time">
      <label for="tags">Tags</label>
      <input type="text" nbInput fullWidth placeholder="Enter tags" value aria-autocomplete="list">
      <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
      <div class="full-name-inputs">
        <input type="text" nbInput fullWidth placeholder="Nick">
        <input type="text" nbInput fullWidth placeholder="Last Name">
      </div>
      <input type="password" nbInput fullWidth placeholder="Password">
      <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
      <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
      <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
      <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
      <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
      <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">
      <button class="col-12" type="submit" nbButton status="danger">Submit</button>
    </nb-card-body>
  </nb-card>
</div>